// Variables

$neos-gray: #FEFEFE;
$neos-orange: #FF8700;

// Product Teaser Box

.product-teaser {
	background-color: $neos-gray;
	border-radius: 3px;
}

// Teaser Image

.listing-image {
	text-align: center;
	padding: 20px;
}

// Product Name 

.product-name {
	font-size: 1.8em;
	text-align: center;
	color: $neos-orange;
	padding: 20px 0 0;
	margin: 0;
}

a:hover {
	text-decoration: none;
}

// Listing Row

.listing-info {
	padding: 20px 0 0;
}

// Product Price

.product-price {
	text-align: right;
}

// Product Description

.product-description {
	color: darken($neos-gray, 50%);
}

// Add to cart button

.cart-button {
	padding: 7px 7px;
	color: $neos-orange;
	text-transform: uppercase;
	border: 2px solid $neos-orange;
	border-radius: 3px;
}

.cart-button:hover {
	color: $neos-gray;
	background-color: $neos-orange;
}

.cart-row {
	padding: 20px 0 0;
}

























